<div class="content">

  <div class="header">
    <img class="logo" src="../assets/images/health-logo.png"/>
    <div class="heading">Presents</div>
  </div>
  <div class="mid">
    <picture>
      <source media="(max-width: 400px)" srcset="../assets/images/HG-cover-photo-360px.png">
      <source media="(max-width: 970px)" srcset="../assets/images/HG-cover-photo-768px.png">
      <img src="../assets/images/HG-cover-photo-1366px.png" alt="Flowers" style="width:100%; max-height: 480px;">
    </picture>
  </div>

  <div class="footer">

    <div class="top">
      <div class="coming-soon">Coming soon!</div>

      <div class="scrollable-area">
        Health Games has all of your favourite online games in one place. Not only can you win great cash prizes but, as
        with The Health Lottery, every time you play, Health Games will make a charitable contribution to support local
        health causes across Great Britain.

        With Health Games, there’s no deposit required, and we’ll even get you started with a lump sum of free spins!
        Not only that, but you will also enjoy an additional bonus on your first deposit. So, win big with our casino,
        slots, slingo, and instant win games; cash in on millions of pounds in jackpots, and enjoy hundreds of fun and
        exciting games. A whole host of exclusive promotions will be offered to our customers from inception and a
        dedicated VIP team will make sure that our biggest customers are getting the exclusive treatment they deserve.

        With massive jackpots and exciting joining bonuses, take advantage of your free spins, and play with Health
        Games!
      </div>

    </div>

    <div class="bottom">
      <div class="social">
        <a href="https://www.facebook.com/healthlotterygames"><img style="margin-left: 50px;" src="../assets/images/social-fb.png"/></a>
        <a href="https://www.twitter.com/healthgames_uk"><img src="../assets/images/social-tw.png"/></a>
      </div>
      <div class="eighteen"> <b>18+</b> You must be 18 or over to play or claim a prize. Underage gambling is an offence. The Health Lottery (ELM) Limited is licensed and regulated by the Gambling Commission (license no. 000-026057-R-309179)</div>
      <div class="commission">
        <img style="width: 124px;" src="../assets/images/Gambling-Commission-logo-transparent.png"/>
        <img src="../assets/images/gambleaware.png"/>
      </div>
    </div>

  </div>
</div>




